@font-face {
  font-family: Cinzel-Regular;
  src: url(../public/fonts/Cinzel-Regular.otf);
}

.portfolio-font {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.parallax {
  /* The image used */
  background-image: url(../public/images/main_image.jpg);

  /* Set a specific height */
  height: 900px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.global-padding {
  padding: 50px 0px 50px 0px;
}
.global-margin {
  margin-top: 100px;
}

.b-underline {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.w-underline {
  box-sizing: border-box;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  width: 100px;
}

/* ****** NAVBAR ********* */
/* .navbar-brand {
  font-size: 26px;
}
@font-face {
  font-family: Cinzel-Regular;
  src: url(../public/fonts/Cinzel-Regular.otf);
} */
.navbar {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 18px;
}
.nav-img {
  border-radius: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
  background-color: white;
}
/* *********************** */

/* ********* TITLE ********* */
.title-section {
  padding-top: 250px;
}
.title {
  font-size: 75px;
  font-weight: 600;
}
.sub-title {
  font-size: 44px;
  font-weight: 600;
}
.title-color-font {
  color: gainsboro;
  font-family: Cinzel-Regular;
}
.title-backdrop {
  background-color: #000000;
  opacity: 0.97;
}
/* ************************* */

/* ********** BIO ********** */
.bio-section {
  height: auto;
  /* background-color: lightgrey; */
  background-color: white;
}
.bio-pic {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  height: 500px;
  width: 500px;
}
.bio-padding {
  padding: 0px 50px 0px 50px;
}
/* ************************** */

/* ********** SKILLS *********** */
.skills-section {
  height: auto;
  background-color: lightgray;
}
.skill-icon {
  display: block;
  margin: 100px auto 0px auto;
  height: 150px;
  width: auto;
  text-align: center;
}
.skill-margin {
  margin-top: 300px;
}
/* ***************************** */

/* ************ RESUME ************* */
.resume-section {
  height: auto;
  /* background-color: lightgrey; */
  background-color: white;
}
.resume {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
/* ********************************* */

/* *********** PROJECTS ************* */
.projects-section {
  /* height: auto; */
  height: auto;
}
.projects-margin {
  margin-bottom: 20px;
}
.table-scroll {
  overflow-y: auto;
}
/* ********************************** */

/* ************* CONTACT ************ */
.contact-section {
  /* height: auto; */
  height: 300px;
  background-color: grey;
}
.contact-top-row {
  margin-top: 15px;
}
.contact-email {
  color: white;
  text-decoration: none;
}
.contact-phone {
  color: white;
}
.contact-email:hover,
.contact-email:active,
.contact-email:focus {
  text-decoration: none;
  color: black;
}
.contact-icon {
  height: 50px;
  width: auto;
}
.contact-icon-space {
  margin-left: 25px;
  margin-right: 25px;
}
.contact-margin {
  margin-bottom: 40px;
}
/* ********************************** */
